
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="navbar-text">&copy; 2023 All Rights Reserved.</h4>
      </div>
      <div class="text-md-right">
        <h4>
          <a href="https://github.com/NovMir/Comp229-midterm-301208653.git" target="_blank" class="me-3">
            <i class="fa-solid fa-code-branch fa-lg" style="color: #bec3cb;"></i> Github Repository
          </a>
          <a href="https://github.com/NovMir/Comp229-midterm-301208653.git" target="_blank">
            <i class="fa-solid fa-code-branch fa-lg" style="color: #bec3cb;"></i> Youtube 
          </a>
        </h4>
      </div>
    </div>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
